    <% include ./partials/head %>
    <% include ./layout/page %>

<h3>Welcome,!</h3>
    <form method="GET" action="/wallets">
        <fieldset>
            <legend>View my wallets</legend>

            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>


<form method="POST" action="/wallets">
    <fieldset>
        <legend>Generate new wallet</legend>

        <button type="submit" class="btn btn-primary">Generate</button>
    </fieldset>
</form>
    <% include ./partials/footer %>
