    <% include ./partials/head %>
    <% include ./layout/page %>
<h3>Your addresses</h3>
<p><%=address %></p>

    <!--<h3>Congratulations!</h3>-->
<!--<form method="POST" action="/generate">-->
    <!--<fieldset>-->
        <!--<legend>Your wallet has been created. The address is</legend>-->


    <!--</fieldset>-->
</form>
    <% include ./partials/footer %>
