    <% include ./partials/head %>
    <% include ./layout/page %>
<h3>Congratulations!</h3>

<form method="POST" action="/generate">
    <fieldset>
        <legend>Your wallet has been created. The address is</legend>
        <legend><%=wallet.public %></legend>

    </fieldset>
</form>
    <% include ./partials/footer %>
